body {
    font-family: Arial, Helvetica, sans-serif;
}

.home_page-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.home_page-cards > div {
  flex: 1 1 400px;       
  max-width: 500px;      
  background: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home_page-cards img {
  max-width: 300px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background: #f3f4f6;
  color: #555;
  font-size: 14px;
  border-top: 1px solid #ddd;
}

@media (max-width: 575px) {
  .home_page-cards {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .home_page-cards > div {
    flex: 0 0 100%;
    max-width: 90%;
  }

  .home_page-cards p {
    font-size: 18px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .home_page-cards {
    justify-content: center;
  }

  .home_page-cards > div {
    flex: 0 0 calc(50% - 40px);
    max-width: 400px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .home_page-cards {
    justify-content: center;
  }

  .home_page-cards > div {
    flex: 0 0 calc(50% - 40px);
    max-width: 450px;
  }
}